.container {
  width: 100%;
  position: fixed;
  z-index: 3000;
}

.container .content {
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  width: 100%;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.container .item-container {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .item-container li {
  white-space: nowrap;
  display: list-item;
  cursor: pointer;
}

.container .logo {
  -o-object-position: center center;
     object-position: center center;
  max-width: 78px;
  width: 100%;
  display: block;
  height: auto;
  cursor: pointer;
}

.container .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .user-options-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.burger-label {
  block-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  inline-size: 18px;
  font-size: 14px;
  margin-left: 10px;
  line-height: 21px;
  block-size: calc(20px + 10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-label .main-trigger-icon-container {
  position: relative;
  display: block;
  block-size: 18px;
  inline-size: 100%;
}

.burger-label .main-trigger-icon-container .main-trigger-icon {
  background-color: black;
  inline-size: 100%;
  position: absolute;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  block-size: calc(20px / 10);
  top: calc(36% + 2px);
}

.burger-label .main-trigger-icon-container .main-trigger-icon:before {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  block-size: calc(20px / 10);
  background-color: black;
  content: "";
  top: -5px;
  display: block;
  position: absolute;
  inline-size: 100%;
}

.burger-label .main-trigger-icon-container .main-trigger-icon:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  block-size: calc(20px / 10);
  background-color: black;
  content: "";
  top: 5px;
  display: block;
  position: absolute;
  inline-size: 100%;
}

.burger-input {
  opacity: 1;
  background: red;
  display: none;
}

.burger-input:checked ~ .burger-label {
  z-index: 102;
}

.burger-input:checked ~ .burger-label .main-trigger-icon {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: transparent;
}

.burger-input:checked ~ .burger-label .main-trigger-icon:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.burger-input:checked ~ .burger-label .main-trigger-icon:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.burger-input:checked ~ .side-menu-container {
  z-index: 101;
  background-color: white;
  min-height: 100vh;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  position: absolute;
}

.burger-input:checked ~ .side-menu-container .side-menu-item-container {
  padding: 40px 8px;
  overflow-y: scroll;
}

.burger-input:checked ~ .side-menu-container .side-menu-item-container .additional-menu-items {
  display: none;
}

.burger-input:checked ~ .side-menu-container .side-menu-item-container::-webkit-scrollbar {
  display: none;
}

.burger-input:checked ~ .side-menu-container .side-menu-item-container li {
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 15px 110px 15px 20px;
  border-bottom: 1px solid #d0d1d2;
}

.burger-input:checked ~ .header-mask {
  position: fixed;
  block-size: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  bottom: 0;
  inline-size: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}

.hide-scroll {
  overflow: hidden;
}

.side-menu-container {
  background-color: white;
  min-height: 100vh;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  position: absolute;
  right: -400px;
  position: absolute;
}

.side-menu-container .side-menu-item-container {
  padding: 40px 8px;
  overflow-y: scroll;
}

.side-menu-container .side-menu-item-container::-webkit-scrollbar {
  display: none;
}

.side-menu-container .side-menu-item-container li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 15px 110px 15px 20px;
  border-bottom: 1px solid #d0d1d2;
}

@media screen and (max-width: 834px) {
  .item-container {
    display: none !important;
  }
  .user-options-container {
    display: none !important;
  }
  .additional-menu-items {
    display: block !important;
  }
}
/*# sourceMappingURL=navbar.module.css.map */